.cd{
    border-radius: 16px;
    margin-top: 20px;
    height: 16rem;
}
.upper_data h4{
    font-size: 18px;
    color: rgba(17,17,17,0.849);
    letter-spacing: .5px;
    font-weight: 500;
}
.upper_data span{
    background-color: rgba(240, 112, 26, 0.721);
    border-radius: 6px;
    color: aliceblue;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 2px 1px;
    width: 45px;
}
.lower_data h5{
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    color:rgba(17,17,17,0.849) ;
}
.lower_data span{
    font-size: 15px;
    letter-spacing: .3px;
    color:rgba(17,17,17,0.849) ;
}
.extra{
    border-bottom: solid rgba(17,17,17,0.849);
}
.hove{
    border-radius: 10px;
    cursor: pointer;

}
.hove:hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.368);
    transition: .2s;
}
.active{
    color: red;
}


/* new redux */
.card_style{
    cursor: pointer;
    transition: .3s;
}
  
  .smalltrash{
      display: none;
  }
  
  
  .card_style:hover{
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  }
  
  .iteamsdetails{
      max-width: 800px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  }
  .items_img{
      flex: .4;
  }
  .items_img img{
      width: 20rem;
      border-radius: 5px;
  }
  
  .details{
      flex: .5;
  };
  
  .rating{
      background-color: green;
  }
  
  @media (max-width:772px){
      .iteamsdetails{
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  }
  
  @media (max-width:450px){
      .smalltrash{
          display: block;
      }
      .largetrash{
          display:none;
      }
      .emptycart_img{
          margin-right: 50px;
      }
      .smallclose{
          display: none;
      }
  
      /* individual iteams details */
     
      .items_img img{
          width: 16rem;
      }
      
  }
  .aa{
    color: red;
  }